/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  height:calc(100vh - var(--ifm-navbar-height));
  text-align: center;
  position: relative;
  overflow: hidden;
  padding:0 !important;
  background-color: #fff;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
